*{
    margin: 0;
    padding: 0;
    color: #404040;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Fira Mono', monospace;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
/* css header */
header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
header .navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize !important;
    color: #dc4f72 !important;
    letter-spacing: -1px;
}
header .navbar .navbar-brand span .fa-handshake{
    display: inline-block;
    color: #dc4f72 !important;
}
header .navbar .navbar-brand .fa-handshake::before{
    content: "<i class="fa fa-handshake"></i>";
    color: #dc4f72;
    font-size: 26px;
}
header .navbar .navbar-collapse{
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    padding-left: 0;
}
header .navbar .navbar-collapse .navbar-nav .nav-item{
    padding: 0 15px;
}
header .navbar .search-right .search-search .fa-search::before{
    content: "<i class="fa fa-search"></i>";
    font-size: 16px;
    color: #5a5a5a;
    line-height: 38px;
    text-align: center;
}
header .navbar .theme-button{
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;  
}

/* css hero */
.hero{
    margin-top: 90px;
}
.hero .hero_content{
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), 
    url(./../images/banner.jpg);
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    padding-top: 5rem;
}
.hero .hero_content .content-left h3{
    font-size: 50px;
    line-height: 57.5px;
    color: #2C3038;
    font-weight: 700;
}
.hero .hero_content .content-left p{
    color: #5a5a5a;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}
.hero .hero_content .content-left .theme-button{
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
.hero .hero-content .content-photo img{
    width: 100%;
}

/* css whyChooseUs */
.whyChooseUs .header-section h6{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.whyChooseUs .header-section h3{
    color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.whyChooseUs .header-section p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.whyChooseUs .row .s-blog{
    border-radius: 6px;
    transition: 0.3s ease-in;
    background: #F7F9FC;
    padding: 3rem 2rem;
    border: 1px solid #F7F9FC;
}
.whyChooseUs .row .s-blog a{
    text-decoration: none;
}

/* css about */
.about{
    background-color: #F7F9FC;
}
.about .about-content h6{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.about .about-content h3{
    font-size: 35px;
    line-height: 40px;
    color: #2C3038;
    font-weight: 700;
}
.about .about-content p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #5a5a5a;
    line-height: 24.4px;
}
.about .about-content .theme-button{
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
.about  img{
    width: 100%;
}

/* css digital Number */
.digitalNum{
    background-color: #F7F9FC;
}
.digitalNum .numItem{
    background-color: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);;
    transition: 0.3s ease;
    border: 1px solid #f8f9fa;
}
.digitalNum .numItem h4{
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: #2C3038;
    font-weight: 700;
}
.digitalNum .numItem span.counter{
    font-size: 50px;
    /* line-height: 1; */
    color: #dc4f72;
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px !important;
    margin-top: 10px !important;
}

/* css home page cover */
.homePageCover{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(./../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}
.homePageCover .cover-content .cover-title h2{
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.homePageCover .cover-content .cover-description p{
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}
.homePageCover .cover-content .cover-description .theme-button{
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
/* css homeFaq */
.homeFaq{
    background-color: #F7F9FC;
}
.homeFaq .homeFaq-header{
    max-width: 750px;
    margin: 0 auto;
}
.homeFaq .homeFaq-header h6{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.homeFaq .homeFaq-header h3{
    color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.homeFaq .homeFaq-header p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.homeFaq .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.homeFaq .row .faq-image{
    position: sticky;
    top: 80px;
}
.homeFaq .row .faq-image img{
    width: 100%;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
.homeFaq .row .faq-content .accordion-item{
    border: 1px solid #eee;
    padding: 20px 50px 20px 20px;
    margin: 0 0 15px 0;
    border-radius: 6px;
    background: #fff;
}
.homeFaq .row .faq-content .accordion-item .accordion-button{
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
    color: #2C3038;
}
.homeFaq .row .faq-content .accordion-item .accordion-body{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 24.5px;
    max-height: 800px;
}

/* home page project */
.homeProject .tab-content .tab-pane .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


